# Node.js backend
node_modules/
.env
*.log

# Flutter build files
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# IDE/editor files
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db
